/* override jquery-ui defaults */
.ui-widget-overlay{ /* make the root window darker when a dialog is opened. */
    background:#aaa;
    opacity:.5;
    filter:Alpha(Opacity=30)
}
.ui-dialog-titlebar-close {
    visibility: hidden;
}

/* override tipsy defaults */
.tipsy-inner {
    max-width: 400px !important;
    text-align: left !important;
}


.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #f4f4f4;
}

.thin-table th,
.thin-table td {
    border-style: none none solid none;
    border-width: 1px;
    border-color: #cccccc;
    padding: 1px 4px 1px 4px;
}

body {
    position: relative;
    margin-bottom: 50px;
}
.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}
.navbar {
    margin-bottom: 0px;
}

.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}

.pane {
    margin: 10px 30px 30px 10px;
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.round-button {
/*
    border-radius: 4px;
    box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
*/
}

#indicator {
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.0);
    filter: alpha(opacity=65);
    -moz-opacity: 0.65;
    -khtml-opacity: 0.65;
    opacity: 0.5;
    background-image: url('../image/indicator.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: none;
}

#indicator-msg {
    text-align: center;
    padding-top: 400px;
    color: #000;
    font-weight: bold;
    font-size: 25pt;
}

li {
    margin:10px;
}

.navbar li {
    margin:0px;
}

.unknown {
    background: linear-gradient(transparent 60%, #ffc0c0 0%);
}

.text-warn {
    background: linear-gradient(transparent 60%, #ffc0c0 0%);
}

.barchart { 
    background-color: #eeeeee;
    margin: 0 20px 0 20px;
    float: left;
    border-radius: 4px;
    border-width:1px;
    border-style:inset;
    border-color:rgba(0, 0, 0, 0.2);
}          

.barchart-path { 
    display: block;
    width: 0px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden;
}          


.barchart-bgimg { 
    background-image: url(../images/bgimg2_200.png);
}          

#joblist {
    width: 90%;
    height: 300px;
    overflow: scroll;
    overflowx: hidden;
}

.alignright {
    text-align: right;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    stroke-width: 1;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
/*
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
*/
}

/* Style northward tooltips differently */
.d3-tip.n:after {
/*
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
*/
}
